DB_USER=
DB_PASSWORD=
DB_NAME=
TalkRealdbConfig=Host=db; Port=5432; Database=${DB_NAME}; Username=${DB_USER}; Password=${DB_PASSWORD}

JWT_KEY=
JWT_ISSUER=
JWT_AUDIENCE=

JwtSettings__Key=${JWT_KEY}
JwtSettings__Issuer=${JWT_ISSUER}
JwtSettings__Audience=${JWT_AUDIENCE}


CloudinaryName=
CloudinaryApiKey= 
CloudinaryApiSecret= 

Cloudinary__CloudinaryName=${CloudinaryName}
Cloudinary__CloudinaryApiKey=${CloudinaryApiKey}
Cloudinary__CloudinaryApiSecret=${CloudinaryApiSecret}
